$black: rgb(26, 27, 27);
$white: rgb(255, 255, 255);
$grey: rgb(155, 160, 160);

$blue: rgb(0, 158, 148);
$blue-light: rgb(9, 236, 221);
$red: rgb(238, 55, 47);
$purple: rgb(176, 112, 172);
$purple-dark: rgb(98, 32, 97);
