@import '../../style/utils/colors.scss';

@keyframes title-entry {
  0% {
    visibility:visible;
  }

  100% {
    visibility:hidden;
  }
}

.room-component__title {
  color:#00FF00;
  position: absolute;
  top: 2rem;
  left: 2rem;
  visibility: hidden;
  pointer-events: none;
  font-family: sans-serif;
  font-size: 4rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  animation: title-entry 4s linear;
  animation-fill-mode: forwards;
}

.room-component__interactive,
.room-component__exit {
  cursor: pointer;
  fill: transparent;
  transition: all 100ms ease-in-out;
  stroke-width: 0;

  &:hover {
    stroke-width: 4px;
  }
}

.room-component__interactive:hover {
  stroke: $blue-light;
  fill: transparentize($blue-light, 0.7);
}

.room-component__exit:hover {
  stroke: $red;
  fill: transparentize($red, 0.7);
}
