/*
  Inventory
  ---
*/

.inventory {
  border: 2px solid;
  border-right: 0;
  display: flex;
  position: fixed;
  background-color: black;
  color: white;
  right: -160px;
  width: 202px;
  align-items: center;
  top: 1rem;
  transition: right 300ms ease-in-out;
  z-index: 1000;
}

@keyframes jerky-unfold {
  to {
    right: 0;
  }
}

.inventory--unfolded {
  animation: jerky-unfold 0.7s steps(5, start);
  animation-fill-mode: forwards;
}


/*
  Inventory toggle
  ---
*/

.inventory__toggle {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  background-color: black;
  color: white;
  border: 0;
  cursor: pointer;
}

.inventory__toggle:hover {
  background-color: white;
  color: black;
}

.inventory__toggle:focus {
  box-shadow: 0 0 0 2px violet;
  outline: none;
}


/*
  Inventory no items
  ---
*/

.inventory__no-items {
  flex-shrink: 0;
  height: 40px;
  line-height: 40px;
  flex-grow: 1;
  padding: 0 0.5em;
}