.inventory-button {
  height: 40px;
  width: 40px;
  background-color: black;
  border: 0;
  color: white;
  cursor: pointer;
  border-radius: 0;
}

.inventory-button:hover {
  background-color: blueviolet;
}
