@import '../../style/utils/colors.scss';

.glitch-text {
  --color: #{$blue-light};
  --bg: #{$black};
  --glitch-shadow-1: #{$purple};
  --glitch-shadow-2: #{$red};
  color: var(--color);
  position:relative;
}

.glitch-text--item {
  --color: #{$purple};
}

.glitch-text--room {
  --color: #{$red};
}

@keyframes noise-anim {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 var(--glitch-shadow-1);
  top: 0;
  color: var(--color);
  background-color: var(--bg);
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.glitch-text::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 var(--glitch-shadow-2);
  top: 0;
  color: var(--color);
  background-color: var(--bg);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
