@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: black;
  color: white;
}

.emphasis {
  box-shadow: 0 0 0 0 #00ff96;
  animation: emphasis 0.6s steps(3, start) infinite;
}

@keyframes emphasis {
  to {
    box-shadow: 0 0 0 10px #00ff96;
  }
}

p {
  margin: 0 0 1rem;
}