.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal__dialog {
  width: 100%;
  max-width: 27rem;
  margin: 1rem auto;
  animation: jerky-reveal 0.4s steps(5, start);
  animation-fill-mode: forwards;
  transform: translateY(-100%);
}

@keyframes jerky-reveal {
  to {
    transform: translateY(0);
  }
}

.modal__inner {
  background-color: white;
  color: black;
  padding: 1rem;
}


